<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
    {{>navbar}}
    <!---main header-->
    <div class="container-fluid main_header  ">
        <div class="row">
            <!--lift side div-->
            <div class="col-md-6 col-12 main_header_right align-items-center" >
              <figure>
                <img src="image/about.png" alt="surya" class="img-fluid" title="surya yadav">
              </figure>
            </div>
            <div class="col-md-6 col-12 main_header_left">
                <p>Welcome to weather app</p>
                <h1>I Am A <span class="text_clr">Web Developer</span> And A <span class="text_clr">Freelancer</span></h1>
                <a href=" " target=" "><button>About Me</button> </a>
            </div>
            <!--right side div-->
            
        </div>
    </div>
</body>
 
    <!-- footer code -->
    {{>footer}}
</html>